* {
	padding: 0;
	margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.pane {
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.pane::-webkit-scrollbar {
    display: none;
}

pre {
    font-family: monospace;
}

pre div {
    cursor: pointer;
}

pre div.highlight,
#qsn-content div.highlight,
#ans-content div.highlight {
    background-color: #000000 !important;
    color: #ffffff !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}

pre div:hover,
#qsn-content div:hover,
#ans-content div:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}


pre div:active,
#qsn-content div:active,
#ans-content div:active {
    background-color: #000000 !important;
    color: #ffffff !important;
    transition: background-color 0.2s ease, color 0.2s ease;
}